.bg-header-color {
    background: rgb(83, 129, 253);
    background: linear-gradient(90deg, rgba(83, 129, 253, 1) 0%, rgba(103, 83, 253, 1) 70%, rgba(140, 76, 250, 1) 100%);
}

.active {
    color: black !important;
}

.login-user-img {
    width: 46px !important;
    height: 46px !important;
    object-fit: cover;
}

.site-header-logo {
    width: 38%;
}


/* Desktop device */
@media screen and (min-width: 768px) {}

/* Mobile device */
@media screen and (max-width: 578px) {
    .site-header-logo {
        width: 30%;
    }
}