.scroll-btn {
    background: rgb(83, 129, 253);
    background: linear-gradient(360deg, rgba(83, 129, 253, 1) 0%, rgba(103, 83, 253, 1) 70%, rgba(140, 76, 250, 1) 100%);
    transition: .3s ease !important;
}