.kid-text {
    background: #5381FD;
    background: linear-gradient(to right, #5381FD 0%, #6753FD 70%, #8C4CFA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kid-img {
    height: 45vh;
    width: 15vw;
    object-fit: cover;
    -webkit-transition: .6s ease-out;
}

.kid-img:hover {
    -webkit-filter: blur(1px);
    -webkit-box-shadow: 12px 12px 40px rgba(103, 83, 253, 1);
    margin: 0 35px;
}

/* 
position: relative;
    z-index: 2;

position: absolute;
    right: 580px;
    bottom: -1820px;
    z-index: 10;

    position: absolute;
    right: 855px;
    bottom: -1850px;
    z-index: 2;
*/