.kid-text {
    background: #5381FD;
    background: linear-gradient(to right, #5381FD 0%, #6753FD 70%, #8C4CFA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kid-img {
    height: 45vh;
    width: 15vw;
    object-fit: cover;
    -webkit-transition: .6s ease-out;
}

.kid-img:hover {
    -webkit-filter: blur(1px);
    -webkit-box-shadow: 12px 12px 40px rgba(103, 83, 253, 1);
    margin: 0 35px;
}


/* Desktop device */
@media screen and (min-width: 768px) {}

/* Mobile device */
@media screen and (max-width: 578px) {
    .kid-img {
        width: 60% !important;
        height: 20vh !important;
        object-fit: cover !important;
        margin: 15px !important;
    }

    .kid-img:hover {
        -webkit-filter: blur(1px);
        -webkit-box-shadow: 12px 12px 40px rgba(103, 83, 253, 1);
    }
}