/* Desktop device */
@media screen and (min-width: 768px) {
    .custom-responsive-img {
        width: 100% !important;
        height: 80vh !important;
        object-fit: cover !important;
    }

    /* .responsive-width-form {
        width: 25% !important;
    } */
}

/* Mobile device */
@media screen and (max-width: 578px) {
    .custom-responsive-img {
        width: 100% !important;
        height: 35vh !important;
        object-fit: cover !important;
    }

    /* .responsive-width-form {
        width: 100% !important;
    } */
}